@import 'variables.scss';

.grauman-container {
    .alert {
        pointer-events: none;
        font-family: sans-serif;
        position: absolute;
        color: $textColor;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $alertBackgroundColor;
        padding: 20px;
        border-radius: 5px;
    }

    .is-fullscreen {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
