$alertBackgroundColor: rgba(35, 35, 35, 0.75);
$textColor: #fff;

$controlsBackgroundColor: rgba(35, 35, 35, 0.85);
$controlsHoverColor: rgb(104, 180, 210);

$scrubberLoadingColor: rgba(70, 70, 70, 0.9);
$scrubberBackgroundColor: rgba(50, 50, 50, 0.9);
$scrubberProgressColor: rgba(34, 192, 255, 0.4);

//TODO: the data-grauman-tooltip colors should be in here and tooltip.css
//should be converted to sass
